/* ---------------------------------------------- */
/* ----------------- HERO SECTION --------------- */
/* ---------------------------------------------- */
.header-padding {
    padding-top: 70px;
    padding-bottom: 30px;
}

.hero-text {
    font-weight: 800;
    color: var(--white-text);
    font-size: 320%;

}

.gold-light {
    color: #E3BA2E;
    font-weight: 700;
}

.hero-subtext {
    color: var(--white-text);
    font-weight: 300;
    font-size: 115%;
}

.side-spacing {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.hero-play-link {
    color: var(--link-red);
    font-size: 100%;
}

.already-member-text {
    color: var(--white-text);
    font-size: 80%;
}

.hero-sign-in:link,
.hero-sign-in:visited {
    color: var(--link-red);
    transition: all 0.3s;
    letter-spacing: 1px;
    padding-left: 10px;
    /*text-decoration: underline;*/
}

.hero-sign-in:hover,
.hero-sign-in:active {
    color: var(--active-link-red);
}

.hero-image {
    background-color: var(--black-text);
}

/* ------------------------------------------------- */
/* ----------------- JOIN US SECTION --------------- */
/* ------------------------------------------------- */

#join-us-section {
    padding: 80px 0;
}

.join-us-header {
    font-weight: 800;
    font-size: 195%;
}

.join-us-subheader {
    font-size: 95%;
    font-weight: 400;
}

.join-icon-container {
    background-color: #FAFAFA;
    padding: 20px;
    display: inline-block;
}

.join-card-title {
    color: var(--gray-text);
    font-size: 105%;
    font-weight: 600;
}

.join-card-body {
    color: var(--gray-text);
    font-size: 78%;
    max-width: 350px;
}

/* ----------------------------------------------------- */
/* ----------------- CORE VALUES SECTION --------------- */
/* ----------------------------------------------------- */
#core-values-section {
    padding: 90px 0;
}

.core-values-image {
    /*max-height: 500px;*/
}

.core-values-title {
    font-weight: 800;
    font-size: 200%;
    padding-top: 80px;
    color: var(--black-text);
}

.core-values-subtitle {
    font-size: 77%;
    max-width: 420px;
    color: var(--gray-text);
    line-height: 22px;
}

.core-value-text {
    font-size: 82%;
    color: var(--gray-text);
    font-weight: 500;
    vertical-align: middle;
    margin-bottom: 40px;
}

.check-icon {
    height: 28px;
    width: 27px;
    margin-right: 6px;
}

.core-value-items-container {
    margin-top: 15px;
}

/* ------------------------------------------------------------ */
/* ----------------- HIGHLIGHTED EVENTS SECTION --------------- */
/* ------------------------------------------------------------ */
#highlighted-events {
    padding: 70px 0;
    background-color: #FBFBFB;
}

.highlighted-events-header {
    font-weight: 800;
    color: var(--black-text);
    font-size: 190%;
}

.highlighted-events-subheader {
    font-size: 85%;
}

.event-image {
    border-radius: 5px;
    height: 196px;
    width: 350px;
}

.event-title {
    font-size: 100%;
    font-weight: 600;
    color: var(--gray-text);
    margin-bottom: 0;
}

.event-date {
    color: var(--link-red);
    font-size: 70%;
}

/* ----------------------------------------------- */
/* ----------------- POSTS SECTION --------------- */
/* ----------------------------------------------- */
#post-section {
    padding: 80px 0;
}

.post-section-title {
    color: var(--link-red);
    font-weight: 500;
    font-size: 85%;
}

.post-section-subtitle {
    font-weight: 800;
    font-size: 160%;
    color: var(--black-text);
}

.post-image {
    width: 90%;
}

.category-text {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    font-size: 80%;
}

.dot-separator {
    height: 6px;
    margin: 0 10px;
}

.date-text {
    display: inline-block;
    color: var(--light-gray-text);
    font-weight: 500;
    font-size: 80%;
}

.post-title {
    font-weight: 600;
    font-size: 110%;
    max-width: 450px;
}

.post-snippet {
    color: var(--light-gray-text);
    font-size: 78%;
    letter-spacing: 0.02em;
    max-width: 570px;
    margin-bottom: 10px;
}

.author-name {
    font-size: 80%;
    letter-spacing: 0.02em;
    margin-bottom: 3px;
    line-height: 18px;
    font-weight: 500;
}

.author-position {
    color: var(--light-gray-text);
    margin-bottom: 0;
    line-height: 17px;
    font-size: 70%;
}
