{% extends 'cgf/cgf_base.html' %}
{% load static %}

{% block additional_css %}
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block page-body %}
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{% static 'images/about-main-image.png' %}" alt="main-about-page" class="img-fluid">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h6 class="section-header-red pb-1 pt-2">
                        About Us
                    </h6>
                    <p class="section-subheader pb-3">
                        We connect, impact and grow together
                    </p>
                    <p class="about-text pb-3">
                        Change does not happen unless you make it happen. The Classic Gentlemen Foundation was founded
                        based on bringing about change in our environment.
                        We do this by networking, creating businesses and directly impacting our immediate environment.
                    </p>
                    <a href="#" class="find-out-link">
                        Meet our Executives <img src="{% static 'images/right-arrow.png' %}" alt="right-arrow"
                                                 class="find-out-arrow"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="vision-mission-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mission-container p-5">
                        <h6 class="section-header-red pb-2 pt-2 fw-bold">
                            Our Mission
                        </h6>
                        <p class="mission-text">
                            To Support and Empower one another, to succeed with family and career, to continually
                            improve on our socialization skills for the relaxation of all members and to inspire a
                            healthier community by supporting the needy and the less privileged (CSR).
                        </p>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h6 class="section-header-red pb-1 pt-5">
                        Our ViSION STATEMENT
                    </h6>
                    <p class="about-text mw-75">
                        A group of gentlemen with the aim of socializing, impacting positively on our
                        immediate environment and creating businesses.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="executives-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="section-title pb-5">
                        Meet our Executives
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="{% static 'images/Motayo Latunji - Chairman 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Motayo Latunji</p>
                    <p class="member-position">Chairman</p>
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'images/Larry Olaoye- Vice Chairman 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Larry Olaoye</p>
                    <p class="member-position">Vice chairman</p>
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'images/Kehinde Ogunleye- Gen Sec 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Kehinde Ogunleye</p>
                    <p class="member-position">General Secretary</p>
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'images/Olushola Balogun Finance director 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Olusola Balogun</p>
                    <p class="member-position">Financial Director</p>
                </div>
                <div class="p-3"></div>
                <div class="col-sm-3">
                    <img src="{% static 'images/Adebola Adebode - PR Director 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Adebola Adebode</p>
                    <p class="member-position">PR Director</p>
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'images/Niyi Ogbaro- Social Director 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Niyi Ogbaro</p>
                    <p class="member-position">Social Director</p>
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'images/Eng 1.png' %}" alt="member-image"
                         class="member-image">
                    <p class="member-name pt-2">Eng. Olamilekan Omojowo</p>
                    <p class="member-position">Equity Director</p>
                </div>
            </div>
        </div>
    </section>
    <section id="faq-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="section-header-red smaller-header pb-2 pt-2">
                        FAQs & PRICING
                    </h6>
                    <p class="section-title subtitle pb-3">
                        Have any <span class="red-text">Questions?</span> <br> Look Here
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <!-- Card -->
                    <div class="card shadow-light-lg accordion faq-card" id="helpAccordionTwo">
                        <div class="list-group">
                            <div class="list-group-item">
                                <!-- Toggle -->
                                <a class="d-flex align-items-center text-reset text-decoration-none"
                                   data-toggle="collapse"
                                   href="#helpFive" role="button" aria-expanded="false" aria-controls="helpFive">
                                    <!-- Title -->
                                    <span class="card-title">
                                        Who can volunteer on Educate Me?
                                    </span>
                                    <!-- Metadata -->
                                    <div class="text-muted ml-auto">
                                        <!-- Chevron -->
                                        <span class="collapse-chevron text-muted">
                                        <ion-icon name="chevron-down-outline" class="chevron-style"></ion-icon>
                                    </span>
                                    </div>
                                </a>
                                <!-- / .row -->
                                <!-- Collapse -->
                                <div class="collapse" id="helpFive" data-parent="#helpAccordionTwo">
                                    <div>
                                        <!-- Text -->
                                        <p class="card-body">
                                            Any person over 18 years old with valid identification, or teenagers between
                                            13 and 16 years
                                            old accompanied by a guardian with valid identification.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <!-- Toggle -->
                                <a class="d-flex align-items-center text-reset text-decoration-none"
                                   data-toggle="collapse"
                                   href="#helpSix" role="button" aria-expanded="false" aria-controls="helpSix">
                                    <!-- Title -->
                                    <span class="card-title">
                                What's the maximum amount I can donate?
                                </span>
                                    <!-- Metadata -->
                                    <div class="text-muted ml-auto">
                                        <!-- Chevron -->
                                        <span class="collapse-chevron text-muted">
                                        <ion-icon name="chevron-down-outline" class="chevron-style"></ion-icon>
                                    </span>
                                    </div>
                                </a>
                                <!-- / .row -->
                                <!-- Collapse -->
                                <div class="collapse" id="helpSix" data-parent="#helpAccordionTwo">
                                    <div>
                                        <!-- Text -->
                                        <p class="card-body">
                                            There is no maximum amount :)
                                        </p>
                                        <div class="d-flex align-items-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <!-- Toggle -->
                                <a class="d-flex align-items-center text-reset text-decoration-none"
                                   data-toggle="collapse"
                                   href="#helpSeven" role="button" aria-expanded="false" aria-controls="helpSeven">
                                    <!-- Title -->
                                    <span class="card-title">
                                What if I get debited and my donation is not visible?
                                </span>
                                    <!-- Metadata -->
                                    <div class="text-muted ml-auto">
                                        <!-- Chevron -->
                                        <span class="collapse-chevron text-muted">
                                        <ion-icon name="chevron-down-outline" class="chevron-style"></ion-icon>
                                    </span>
                                    </div>
                                </a>
                                <!-- / .row -->
                                <!-- Collapse -->
                                <div class="collapse" id="helpSeven" data-parent="#helpAccordionTwo">
                                    <div>
                                        <!-- Text -->
                                        <p class="card-body">
                                            Send a message to support if the problem persists past 10 minutes with
                                            no refund made to your bank account
                                        </p>
                                        <div class="d-flex align-items-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <!-- Toggle -->
                                <a class="d-flex align-items-center text-reset text-decoration-none"
                                   data-toggle="collapse"
                                   href="#helpEight" role="button" aria-expanded="false" aria-controls="helpEight">
                                    <!-- Title -->
                                    <span class="card-title">
                                How will my donated book be collected?
                                </span>
                                    <!-- Metadata -->
                                    <div class="text-muted ml-auto">
                                        <!-- Chevron -->
                                        <span class="collapse-chevron text-muted">
                                        <ion-icon name="chevron-down-outline" class="chevron-style"></ion-icon>
                                    </span>
                                    </div>
                                </a>
                                <!-- / .row -->
                                <!-- Collapse -->
                                <div class="collapse" id="helpEight" data-parent="#helpAccordionTwo">
                                    <div>
                                        <!-- Text -->
                                        <p class="card-body">
                                            You can send it to any Educate-Me office or drop off centre via courier
                                            services
                                            or if you have a large number of books contact us and we will get them off
                                            hands
                                        </p>
                                        <div class="d-flex align-items-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <!-- Toggle -->
                                <a class="d-flex align-items-center text-reset text-decoration-none"
                                   data-toggle="collapse"
                                   href="#helpEight" role="button" aria-expanded="false" aria-controls="helpEight">
                                    <!-- Title -->
                                    <span class="card-title">
                                My question is not here?
                                </span>
                                    <!-- Metadata -->
                                    <div class="text-muted ml-auto">
                                        <!-- Chevron -->
                                        <span class="collapse-chevron text-muted">
                                        <ion-icon name="chevron-down-outline" class="chevron-style"></ion-icon>
                                    </span>
                                    </div>
                                </a>
                                <!-- / .row -->
                                <!-- Collapse -->
                                <div class="collapse" id="helpEight" data-parent="#helpAccordionTwo">
                                    <div>
                                        <!-- Text -->
                                        <p class="card-body">
                                            Contact us directly for any clarification. Visit our
                                            <a href="#" class="contact-link">
                                                contact page
                                            </a>
                                            for details on how to contact us.
                                        </p>
                                        <div class="d-flex align-items-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="pt-3 pb-3 join-card d-flex align-items-center flex-column">
                        <p class="join-title">Membership</p>
                        <p class="amount-text">
                            50,000 <span class="subscript-year">/yr</span>
                        </p>
                        <a href="#" class="hero-full-button text-white join-link">Join the club</a>
                        <ul class="perks-list pt-2">
                            <li>
                                <img src="{% static 'images/plain-red-tick.png' %}" alt="plain-red-tick">
                                Access to exclusive events
                            </li>
                            <li>
                                <img src="{% static 'images/plain-red-tick.png' %}" alt="plain-red-tick">
                                Be a part of our CSR Movements
                            </li>
                            <li>
                                <img src="{% static 'images/plain-red-tick.png' %}" alt="plain-red-tick">
                                CGF Branded Merchandises
                            </li>
                            <li>
                                <img src="{% static 'images/plain-red-tick.png' %}" alt="plain-red-tick">
                                Business growth and support
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="find-out-link d-block text-right">
                        More questions? Contact Us <img src="{% static 'images/right-arrow.png' %}" alt="right-arrow"
                                                 class="find-out-arrow"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}