{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CGF - Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'cgf:home_view' %}">
                <img src="{% static 'images/cgf-logo.png' %}" alt="cgf-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link overflow-text" aria-current="page" href="#">About Us</a>
                    </li>
                    <li style="margin: 0 1.6rem;"></li>
                    <li class="nav-item">
                        <a class="nav-link overflow-text" href="#">Why Join us?</a>
                    </li>
                    <li style="margin: 0 2.3rem;"></li>
                    <li class="nav-item">
                        <a class="nav-link overflow-text" href="#">CGF Blog</a>
                    </li>
                    <li style="margin: 0 1.6rem;"></li>
                    <li class="nav-item">
                        <a class="nav-link overflow-text" href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="d-flex navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link size-15" href="#">Sign In</a>
                    </li>
                    <li style="margin: 0 1.2rem;"></li>
                    <li class="nav-item">
                        <a class="nav-link size-15 full-button" href="#">Join Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-sm header-padding">
                <h1 class="hero-text">
                    Classic Gentlemen <span class="gold-light">Foundation</span>
                </h1>
                <p class="hero-subtext pt-2 pb-2">
                    Connect, create businesses, grow and impact your immediate environment with like minds.
                </p>
                <a href="" class="hero-full-button text-white">
                    Join Us
                </a>
                <p class="d-inline-block p-2 hero-play-link">
                    Our Highlights
                    <img src="{% static 'images/play_circle_outline.svg' %}" class="p-2"
                         alt="media-play-outline">
                </p>
                <p class="already-member-text">
                    Already a member of Classic Gentlemen Social Club?
                    <a href="" class="hero-sign-in">SIGN IN</a>
                </p>
            </div>
            <div class="col-sm pt-1">
                <img src="{% static 'images/hero-image.svg' %}" alt="hero-image"
                     class="img-fluid d-none d-md-block d-lg-block"/>
                <img src="{% static 'images/hero-mobile.svg' %}" alt="hero-image-mobile"
                     class="img-fluid d-block d-sm-none"
                />
            </div>
        </div>
    </div>
</header>
<section id="join-us-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="join-us-header">Why Join Us?</h4>
                <p class="join-us-subheader">
                    We are growth and development oriented.
                    We provide the best support for our members and our community.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm join-us-box">
                <div class="join-icon-container">
                    <img src="{% static 'images/link-icon.png' %}" alt="link-icon">
                </div>
                <h6 class="join-card-title pt-4 pb-1">
                    Network
                </h6>
                <p class="join-card-body">
                    Meet and grow relationships with people who share the same interests with you!
                </p>
                <a href="#" class="find-out-link">
                    Find out more <img src="{% static 'images/right-arrow.png' %}" alt="right-arrow"
                                       class="find-out-arrow"/>
                </a>
            </div>
            <div class="col-sm join-us-box">
                <div class="join-icon-container">
                    <img src="{% static 'images/calendar-icon.png' %}" alt="calendar-icon">
                </div>
                <h6 class="join-card-title pt-4 pb-1">
                    Events and Content
                </h6>
                <p class="join-card-body">
                    Gain access to exclusive events created just for you, and enjoy amazing content!
                </p>
                <a href="#" class="find-out-link">
                    Find out more <img src="{% static 'images/right-arrow.png' %}" alt="right-arrow"
                                       class="find-out-arrow"/>
                </a>
            </div>
            <div class="col-sm join-us-box">
                <div class="join-icon-container">
                    <img src="{% static 'images/development-icon.png' %}" alt="development-icon">
                </div>
                <h6 class="join-card-title pt-4 pb-1">
                    Community Development
                </h6>
                <p class="join-card-body">
                    Contribute to societal goals by volunteering and engaging in ethical activities!
                </p>
                <a href="#" class="find-out-link">
                    Find out more <img src="{% static 'images/right-arrow.png' %}" alt="right-arrow"
                                       class="find-out-arrow"/>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="core-values-section">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'images/core-values.png' %}" alt="core-values-image"
                     class="img-fluid core-values-image"/>
            </div>
            <div class="col-sm">
                <h4 class="core-values-title pb-2">Our Core Values</h4>
                <h6 class="core-values-subtitle pb-3">
                    At this social club we are highly disciplined men aimed at being catalysts for
                    change in the society.
                </h6>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="core-value-items-container">
                            <p class="core-value-text">
                                <img src="{% static 'images/orange-check-icon.png' %}" alt="orange-back-check-icon"
                                     class="check-icon"/>
                                Respect
                            </p>
                            <p class="core-value-text">
                                <img src="{% static 'images/orange-check-icon.png' %}" alt="orange-back-check-icon"
                                     class="check-icon"/>
                                Transparency
                            </p>
                            <p class="core-value-text">
                                <img src="{% static 'images/orange-check-icon.png' %}" alt="orange-back-check-icon"
                                     class="check-icon"/>
                                Integrity
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="core-value-items-container">
                            <p class="core-value-text">
                                <img src="{% static 'images/orange-check-icon.png' %}" alt="orange-back-check-icon"
                                     class="check-icon"/>
                                Trust
                            </p>
                            <p class="core-value-text">
                                <img src="{% static 'images/orange-check-icon.png' %}" alt="orange-back-check-icon"
                                     class="check-icon"/>
                                Responsibility
                            </p>
                        </div>
                    </div>
                </div>
                <a href="#" class="find-out-link">
                    Find out more <img src="{% static 'images/right-arrow.png' %}" alt="right-arrow"
                                       class="find-out-arrow"/>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="highlighted-events">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 class="highlighted-events-header pb-2">Highlighted Events</h4>
                <p class="highlighted-events-subheader pb-4">
                    Some exciting events we have had recently, amongst others.
                </p>

                <div class="row pt-1">
                    <div class="col-sm">
                        <img src="{% static 'images/video-cover-3.png' %}" alt="video-cover-1">
                        <p class="event-title pt-3 pb-1">
                            Classic gentlemen Inauguration.
                        </p>
                        <p class="event-date">January 2021</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/video-cover-2.png' %}" alt="video-cover-1">
                        <p class="event-title pt-3 pb-1">
                            Orphanage Visit
                        </p>
                        <p class="event-date">January 2021</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/video-cover-1.png' %}" alt="video-cover-1">
                        <p class="event-title pt-3 pb-1">
                            Easter Party with the less privileged
                        </p>
                        <p class="event-date">April 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="post-section">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 class="post-section-title">THE CGF BLOG</h4>
                <p class="post-section-subtitle pb-3">Latest Posts</p>
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'images/post_2_image.png' %}" alt="post-2-image" class="post-image">
                        <div class="post-meta-container pt-2 pb-2">
                            <p class="category-text">career</p>
                            <img src="{% static 'images/red-dot.png' %}" alt="dot-separator" class="dot-separator"/>
                            <p class="date-text">January 06, 2021</p>
                        </div>
                        <p class="post-title">
                            How to find balance at work and in your personal life
                        </p>
                        <p class="post-snippet">
                            Creating a harmonious work-life balance or work-life integration
                            is critical, though, to improve not only our physical, emotional
                            and mental well-being, but it's also important for our career.
                        </p>
                        <div class="author-box d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/author-1.png' %}" alt="author-avatar" class="author-avatar">
                            <div class="author-meta d-inline-block p-3">
                                <p class="author-name">Olabode Juwon</p>
                                <p class="author-position">Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'images/post_1_image.png' %}" alt="post-1-image" class="post-image">
                        <div class="post-meta-container pt-2 pb-2">
                            <p class="category-text">health</p>
                            <img src="{% static 'images/red-dot.png' %}" alt="dot-separator" class="dot-separator"/>
                            <p class="date-text">December 26, 2020</p>
                        </div>
                        <p class="post-title">
                            Staying healthy during the lockdown: A one page guide
                        </p>
                        <p class="post-snippet">
                            During these difficult times, your mental and physical health
                            need a bit of support. So, we’ve gathered together some ideas
                            on how to stay healthy during lockdown.
                        </p>
                        <div class="author-box d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/author-2.png' %}" alt="author-avatar" class="author-avatar">
                            <div class="author-meta d-inline-block p-3">
                                <p class="author-name">Johnson Adebola</p>
                                <p class="author-position">Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm footer-banner">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="banner-title">
                            Become a part of the change you want to see
                        </h5>
                        <a href="#" class="full-button-white">Join our community</a>
                    </div>
                    <div class="col-sm-5">
                        <img src="{% static 'images/footer-banner-image.png' %}" alt="footer-banner-image"
                             class="banner-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4">
        <div class="row p-5">
            <div class="col-sm-5 pb-5">
                <div class="">
                    <img src="{% static 'images/cgf-logo.png' %}" class="footer-logo" alt="cgf-logo">
                    <h5 class="footer-company-name d-inline-block">Classic Gentlemen</h5>
                    <p class="copyright-text pt-3 pb-2">
                        Copyright © 2021 Classic Gentlemen Foundation. <br>
                        All rights reserved
                    </p>
                    <ul class="social-icons-list">
                        <li>
                            <div class="social-icon-container ig-container">
                                <img src="{% static 'images/instagram-icon.png' %}" alt="instagram-icon"
                                     class="instagram-icon"/>
                            </div>
                        </li>
                        <li>
                            <div class="social-icon-container middle-icon">
                                <img src="{% static 'images/twitter-icon.png' %}" alt="twitter-icon"
                                     class="twitter-icon"/>
                            </div>
                        </li>
                        <li>
                            <div class="social-icon-container fb-container">
                                <img src="{% static 'images/facebook-logo.png' %}" alt="facebook-icon"
                                     class="facebook-icon"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 pb-5">
                <h6 class="footer-links-title">Community</h6>
                <a href="#" class="footer-link">About us</a>
                <a href="#" class="footer-link">Blog</a>
                <a href="#" class="footer-link">Contact us</a>
                <a href="#" class="footer-link">Pricing</a>
            </div>
            <div class="col-sm-2 pb-5">
                <h6 class="footer-links-title">Support</h6>
                <a href="#" class="footer-link">Legal</a>
                <a href="#" class="footer-link">Privacy Policy</a>
            </div>
            <div class="col-sm-3 pb-5">
                <h6 class="footer-links-title">Stay up to date</h6>
                <div class="form-group mb-4">
                    <div class="input-group">
                        <input type="email" placeholder="Your email address" class="form-control shadow-none"
                               required id="id_password" name="password">
                        <span class="input-group-text back-red" id="basic-addon2">
                            <img src="{% static 'images/send-icon.png' %}" alt="send-icon" class="email-send-icon">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
</script>
</body>
</html>